#numbers {
    display: flex;
    margin-bottom: 20px;
    padding: 30px;
    /* border: 3px solid rgb(90, 32, 184); */
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
}

#numbers .ball {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    line-height: 80px;
    font-size: 48px;
    border-radius: 50%;
    text-align: center;
}

#numbers .ball:last-child {
    margin-bottom: 0;
}

#numbers .ball.blue {
    background: #69c8f2;
}

#numbers .ball.red {
    background: #ff7272;
}

#numbers .ball.grey {
    background: #aaa;
}

#numbers .ball.yellow {
    background: #d5dc0a;
}

#numbers .ball.green {
    background: #17b63a;
}

#numbers .ball.bonus {
    background: #b0d840;
}

#numbers .ball.done {
    animation: done 0.3s linear;
}

#numbers .ball:last-child {
    margin-right: 0;
}

#numbers .plus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-size: 48px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

@media screen and (min-width: 335px) {
    #numbers {
        width: 330px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }

    #numbers .ball {
        margin-right: 10px;
    }

    #numbers .ball:nth-of-type(3n) {
        margin-right: 0;
    }

    #numbers .plus {
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    #numbers {
        width: auto;
    }
    #numbers .ball,
    #numbers .ball:nth-of-type(3n) {
        margin-right: 10px;
        margin-bottom: 0;
    }

    #numbers .plus {
        width: auto;
        margin: 0 10px 0 0;
    }
}

#excludedNumbers .smallBall{
    width:40px;
    height:40px;
    line-height:40px;
    font-size:24px;
    border-radius:50%;
    text-align:center;
}

#excludedNumbers .smallBall.yellow{
   background:#d5dc0a; 
}

#excludedNumbers .smallBall.blue{
   background:#69c8f2; 
}

#excludedNumbers .smallBall.red{
   background:#ff7272; 
}

#excludedNumbers .smallBall.grey{
   background:#aaa; 
}

#excludedNumbers .smallBall.green{
   background:#17b63a; 
}

d{
    background: #01070e;
}